<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--WCF配置节点-->
    <section name="system.serviceModel" type="System.ServiceModel.ServiceModelSection, System.ServiceModel.Toolkits" />
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Standard.Configuration.InjectionProviderConfiguration,SD.IOC.Standard"/>
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Standard.Configuration.InjectionRegisterConfiguration,SD.IOC.Standard"/>
  </configSections>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Standard.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Standard"/>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="WCF.IAppService"/>
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--商品服务契约配置-->
      <endpoint address="net.tcp://localhost:8099/Hosts/ProductService.svc" binding="netTcpBinding" contract="WCF.IAppService.Interfaces.IProductService" name="WCF.IAppService.Interfaces.IProductService" />
      <!--订单服务契约配置-->
      <endpoint address="net.tcp://localhost:8099/Hosts/OrderService.svc" binding="netTcpBinding" contract="WCF.IAppService.Interfaces.IOrderService" name="WCF.IAppService.Interfaces.IOrderService" />
      <!--集成服务契约配置-->
      <endpoint address="net.tcp://localhost:8099/Hosts/IntegrationService.svc" binding="netTcpBinding" contract="WCF.IAppService.Interfaces.IIntegrationService" name="WCF.IAppService.Interfaces.IIntegrationService" />
    </client>
  </system.serviceModel>
</configuration>